@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&family=Bebas+Neue&family=Berkshire+Swash&family=BhuTuka+Expanded+One&family=Big+Shoulders+Inline+Display:wght@200&family=Bodoni+Moda:ital,opsz@1,6..96&family=Boogaloo&family=Bungee&family=Cagliostro&family=Cinzel+Decorative:wght@400;900&family=Cinzel:wght@400;600;900&family=Coda&family=Contrail+One&family=Damion&family=Dorsa&family=Federant&family=Inter:wght@300&family=Irish+Grover&family=Italianno&family=Jacques+Francois&family=Kameron:wght@400;700&family=Kaushan+Script&family=Keania+One&family=Kings&family=Kosugi&family=Koulen&family=Kranky&family=Krona+One&family=Kumar+One&family=Langar&family=League+Gothic&family=Lexend+Tera:wght@200;400&family=Linden+Hill&family=Lobster&family=Lustria&family=MedievalSharp&family=Metal&family=Miltonian&family=Monoton&family=MonteCarlo&family=Montserrat:wght@200&family=Ms+Madi&family=Notable&family=Noto+Serif+HK:wght@300&family=Open+Sans:ital,wght@0,300;1,300&family=Oranienbaum&family=Orbitron:wght@400;500&family=PT+Mono&family=Playfair+Display:ital,wght@0,400;1,400;1,900&family=Poppins:wght@200;300;400;900&family=Prosto+One&family=Quattrocento&family=Rationale&family=Rosarivo&family=Silkscreen&family=Syne:wght@800&family=Trochut&family=Unica+One&family=Zen+Dots&display=swap");
@font-face {
  font-family: 'Orator Std';
  src: url(./Orator-Std-Font.otf);
}

:root {
  --widthIntroPtr: 27vw;
  --hobbiestFt: 13px;
  --strFt:20px;
  --stPadding:20px;
  --bgClrWidth:70vw;
}

@media (max-width: 1000px) {
  :root {
    --widthIntroPtr: 65vw;
    --hobbiestFt: 10px;
    --strFt:13px;
    --stPadding:7px;
    --bgClrWidth:98vw;
  }
}

.mouseCursor {
  z-index: 1000;
  position: absolute;
  width: var(--cursor-c);
  height: var(--cursor-c);
  border-radius: 50%;
  border: 1px solid #FFE600;
  background: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: lighten;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background,-webkit-transform;
  transition-property: background,-webkit-transform;
  transition-property: background,transform;
  transition-property: background,transform,-webkit-transform;
}

@media (max-width: 1920px) {
  .mouseCursor {
    --cursor-c:80px;
    --cursor-cross:20px;
  }
}

@media (max-width: 900px) {
  .mouseCursor {
    --cursor-c:50px;
    --cursor-cross:10px;
  }
}

.mouseCursor svg {
  position: absolute;
  pointer-events: none;
  width: 50%;
  height: 50%;
}

.mouseCursor .plus {
  width: var(--cursor-cross);
  height: var(--cursor-cross);
  position: absolute;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mouseCursor .plus .line-x {
  width: 100%;
  height: 2px;
  position: absolute;
  background: #FFE600;
}

.mouseCursor .plus .line-y {
  position: absolute;
  background: #FFE600;
  height: 100%;
  width: 2px;
}

@media (max-width: 700px) {
  .mouseCursor {
    display: none;
  }
}

.main-component {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  position: relative;
  overflow-x: hidden;
}

.main-component .logo {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
}

.main-component .logo img {
  width: 100%;
  height: 100%;
}

.main-component .main-intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.main-component .main-intro h1 {
  font-size: 2vw;
}

.main-component .section-1 {
  height: calc(100vh + 150px);
  color: #fff;
  position: relative;
}

.main-component .section-1 .github {
  top: 5%;
  right: 5%;
  position: absolute;
}

.main-component .section-1 .github a {
  color: #fff;
  text-decoration: none;
}

.main-component .section-1 .bgClr {
  z-index: 1;
  position: absolute;
  margin-top: -150px;
  width: var(--bgClrWidth);
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-component .section-1 .bgClr img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
}

.main-component .section-1 .bgClr .social-links {
  display: -ms-grid;
  display: grid;
  gap: 2px;
  position: absolute;
  left: 5px;
}

.main-component .section-1 .bgClr .social-links a {
  color: #fff;
}

.main-component .section-1 .bgClr .social-links a ion-icon {
  width: 20px;
  height: 20px;
}

.main-component .section-1 .bgClr .prof, .main-component .section-1 .bgClr .section {
  font-family: 'Playfair Display', serif;
  position: absolute;
  z-index: 2;
  bottom: -75px;
  height: 75px;
  padding: 5px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-component .section-1 .bgClr .prof h5, .main-component .section-1 .bgClr .section h5 {
  font-size: 15px;
}

.main-component .section-1 .bgClr .prof {
  left: 0;
}

.main-component .section-1 .bgClr .section {
  right: 0;
}

.main-component .section-1 .introPtr {
  z-index: 2;
  width: var(--widthIntroPtr);
  height: 45vh;
  margin-top: -150px;
}

.main-component .section-1 .introPtr img {
  width: 100%;
  height: 100%;
}

.main-component .section-1 .tp-itr, .main-component .section-1 .bt-itr {
  z-index: 3;
  position: absolute;
  font-family: 'Orator Std';
}

.main-component .section-1 .tp-itr {
  top: calc(18%);
}

.main-component .section-1 .bt-itr {
  bottom: calc(18% + 150px);
}

.main-component .section-1 .hobbies-tables {
  width: 80%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  bottom: 2.5%;
}

.main-component .section-1 .hobbies-tables .t-h {
  font-family: 'Zen Dots', cursive;
  padding: 10px;
  border-top: 1px solid #b8c505;
  border-left: 1px solid #b8c505;
  -webkit-box-shadow: 2px 2px 2px #383838;
          box-shadow: 2px 2px 2px #383838;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-component .section-1 .hobbies-tables .t-h p {
  font-size: var(--hobbiestFt);
}

.main-component .section-1 .hobbies-tables .t-h ion-icon {
  color: #FFE600;
}

.main-component .st-1 {
  font-family: 'Orator Std';
  padding: var(--stPadding);
  height: 100%;
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.main-component .st-1 .grid-containers {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .main-component .st-1 .grid-containers {
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
  }
}

.main-component .st-1 .grid-containers .item-x a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: 350px;
  padding: 10px;
  background: #ffffff4d;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

.main-component .st-1 .grid-containers .item-x a:hover .num::after {
  right: 50%;
}

.main-component .st-1 .grid-containers .item-x .num {
  position: relative;
}

.main-component .st-1 .grid-containers .item-x .num::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 1.5px;
  background: #ffd000;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 0.9);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 0.9);
}

.main-component .st-1 .grid-containers .item-x .text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-component .st-1 .grid-containers .item-x .text h4 {
  font-size: var(--strFt);
}

.main-component .midterm-hoa-section .grid-containers .item-x .num::after {
  background: #0059ff;
}

.main-component .finals-hoa-section .grid-containers .item-x .num::after {
  background: #ff8800;
}

.main-component .bottom-ending {
  font-family: 'Zen Dots',cursive;
  background: rgba(255, 255, 255, 0.253);
  display: -ms-grid;
  display: grid;
  color: #fff;
  padding: 20px;
}

.main-component .bottom-ending h4, .main-component .bottom-ending p {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=style.css.map */